name: CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Setup Node.js (needed for Darp.Utils.CodeMirror)
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Frontend Dependencies
        working-directory: ${{ github.workspace }}/src/Darp.Utils.CodeMirror/js
        run: npm ci

      - name: Restore dependencies
        run: |
          dotnet tool restore
          dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Format
        run: dotnet csharpier --check .

      - name: Test
        run: dotnet test --configuration Release --no-build --no-restore

      - name: Upload Test Results
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: verify-test-results
          path: |
            **/*.received.*

